portal-group pg0 {
	discovery-auth-group no-authentication
	listen 0.0.0.0
	listen [::]
}

{% for item in zvolumes -%}
target {{ bsd_iscsi_target.target_iqn }}:{{ item.name }} {
	auth-group no-authentication
	portal-group pg0

	lun 0 {
		path /dev/zvol/{{ item.pool }}/{{ item.name }}
		size {{ item.size }}
	}
}
{% endfor %}